<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo de Vendas - Produto</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <!-- <li><a href="cart.html">Carrinho</a></li> -->
      </ul>
    </nav>
  </header>

  <div class="produto">
    <img src="imagens/iphone16.jpg" alt="iphone16">
    <h1>Iphone 16</h1>
    <p>Celular de ultima geraçao</p>
    <span>R$ 5999,99</span>
    <button class="add-to-cart">Adicionar ao Carrinho</button>
  </div>

</body>
</html>
