<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo de Vendas - Produto</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
      <div class="row">
        {% for produto in produtos %}
          <div class="col-md-4">
              <div class="card">
                {% if produto.imagem %}
                  <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}" style="width: 100px; height: auto;">
                {% endif %}
                <h1>Celulares</h1>
                  <div class="card-body">
                    <h5 class="card-title">{{produto.nome}}</h5>
                    <p class="card-text">{{produto.descricao}}</p>
                    <p class="card-text">{{produto.preco}}</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
              </div>
          </div>
         {% endfor %}
        </div>
      </div>

  <header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <!-- <li><a href="cart.html">Carrinho</a></li> -->
      </ul>
    </nav>
  </header>
</body>
</html>
